/*Mixin Examples*/
/*@include center()*/
body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.4em; }

img {
  width: 100%; }

.gallery img {
  display: block;
  margin: 0px auto; }

body .conatainer {
  max-width: 990px;
  margin: 0px auto; }

.fixedNavMenu {
  position: fixed;
  background-color: black;
  height: 81px;
  width: 100%; }

ul {
  float: right; }

ul a {
  color: white;
  padding-bottom: 11px; }

ul a:hover {
  color: #E43D96;
  text-decoration: none;
  border-bottom: 8px solid #E43D96; }

.nav {
  font-size: 14px;
  font-weight: 400;
  padding-right: 46px;
  color: white;
  display: inline-block;
  margin-top: 44px; }

#home {
  margin-right: 30px; }

.logo {
  max-height: 40px;
  margin-top: 20px; }

.gallery1 {
  width: 33%;
  display: inline-block;
  padding: 20px; }

#donnieTee {
  position: relative;
  padding: 20px; }

.shop {
  height: 30px;
  background-color: grey; }

h3 {
  font-size: 16px;
  color: black;
  margin-top: 10px;
  float: left; }

.price {
  font-size: 18px;
  color: black;
  display: inline;
  float: right;
  font-weight: bold; }

#contact h3 {
  font-family: helvetica, serif;
  font-size: 12px;
  color: white;
  text-align: center;
  background: black;
  height: 32px;
  padding-top: 10px; }

.footer {
  font-family: helvetica, serif;
  font-size: 12px;
  color: white;
  text-align: center;
  background: black;
  height: 32px;
  padding-top: 10px; }

@media (max-width: 768px) {
  .logo {
    max-height: 40px;
    margin-top: 15px; }
  .fixedNavMenu {
    height: auto; }
  .nav {
    font-size: 11px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 12px;
    padding-right: 12px; }
  ul {
    display: block;
    margin: 0px auto;
    float: none; }
  ul a {
    padding-bottom: 8px; } }
