@import "mixins";
// fonts weights available: Ubuntu:400,400i,700
body {
            font-family: 'Ubuntu', sans-serif;
            line-height: 1.4em;
}

nav {
            position: fixed;
            width: 100%;
            background-color: black;
            z-index: 1;
            .logo {
                        margin-top: 22px;
                        max-height: 46px;
                        margin-bottom: 17px;
                        float: left;
            }
}

.mainNav {
            ul {
                        float: right;
                        li {
                                    display: inline-block;
                                    padding-top: 38px;
                                    letter-spacing: 1px;
                                    a {
                                                color: white;
                                                font-size: 12px;
                                                font-weight: 700;
                                                text-decoration: none;
                                                padding: 23px 15px;
                                                letter-spacing: .7px;
                                                &:hover {
                                                            color: #E43D96;
                                                            border-bottom: 12px solid #E43D96;
                                                            padding-bottom: 19px;
                                                }
                                    }
                        }
            }
}

.homePhoto {
            img {
                        width: 100%;
            }
}

.footer {
            display: block;
            height: 200px;
            width: 100%;
            background-color: #E43D96;
            z-index: 999;
            .follow {
                        text-align: center;
            }
            .kristie {
                        text-align: center;
                        color: white;
                        font-size: 12px;
                        margin-top: 169px;
            }
}

// ABOUT
.container.about {
            width: 990px;
}

.jot-connect {
            margin-top: 83px;
            margin-bottom: 59px;
            text-align: center;
}

.twitterFollow {
            margin-top: 132px;
            margin-left: 10px;
}

.twitter-timeline {
            max-height: 900px;
            margin-bottom: 40px;
}

.image-ty {
            .photo-ty {
                        img {
                                    margin-top: -378px;
                                    z-index: 2;
                                    margin-left: 71px;
                        }
            }
}

// ABOUT
.left-connect {
            margin-top: 120px;
            margin-bottom: 59px;
            text-align: center;
            h3 {
                        font-size: 24px;
            }
            p {
                        font-size: 12px;
            }
            h5 {
                        font-size: 16px;
                        color: #E43D96;
            }
}
